In [1]:
import pandas as pd
df = pd.read_json('recipes.json')
df

,name,glass,category,ingredients,garnish,preparation
0,Vesper,martini,Before Dinner Cocktail,"[{'unit': 'cl', 'amount': 6, 'ingredient': 'Gi...",Lemon twist,Shake and strain into a chilled cocktail glass.
1,Bacardi,martini,Before Dinner Cocktail,"[{'unit': 'cl', 'amount': 4.5, 'ingredient': '...",NaN,Shake with ice cubes. Strain into chilled cock...
2,Negroni,old-fashioned,Before Dinner Cocktail,"[{'unit': 'cl', 'amount': 3, 'ingredient': 'Gi...",Half an orange slice,Build into old-fashioned glass filled with ice...
3,Rose,martini,NaN,"[{'unit': 'cl', 'amount': 2, 'ingredient': 'Ki...",NaN,Stir all ingredients with ice and strain into ...
4,Old Fashioned,old-fashioned,Before Dinner Cocktail,"[{'unit': 'cl', 'amount': 4.5, 'ingredient': '...",Orange slice and cherry,Place sugar cube in old-fashioned glass and sa...
...,...,...,...,...,...,...
72,Caipirinha,old-fashioned,All Day Cocktail,"[{'unit': 'cl', 'amount': 5, 'ingredient': 'Ca...",NaN,Place lime and sugar in old fashion glass and ...
73,Vampiro,highball,NaN,"[{'unit': 'cl', 'amount': 5, 'ingredient': 'Te...",Lime wedge and a green or red chili,Shake with ice cubes. Strain into a highball g...
74,Kamikaze,martini,All Day Cocktail,"[{'unit': 'cl', 'amount': 3, 'ingredient': 'Vo...",NaN,Shake and strain into a chilled cocktail glass.
75,White Lady,martini,All Day Cocktail,"[{'unit': 'cl', 'amount': 4, 'ingredient': 'Gi...",NaN,Shake with ice cubes. Strain into large cockta...
76,Harvey Wallbanger,highball,All Day Cocktail,"[{'unit': 'cl', 'amount': 4.5, 'ingredient': '...",Orance slice and a cherry,Build vodka and orange juice into a highball g...

In [2]:
name_list = df['name'].values
name_list

array(['Vesper', 'Bacardi', 'Negroni', 'Rose', 'Old Fashioned', 'Tuxedo',
       'Mojito', "Horse's Neck", "Planter's Punch", 'Sea Breeze',
       'Pisco Sour', 'Long Island Iced Tea', 'Clover Club', 'Angel Face',
       'Mimosa', 'Whiskey Sour', 'Screwdriver', 'Cuba Libre', 'Manhattan',
       'Porto Flip', 'Gin Fizz', 'Espresso Martini', 'Margarita',
       'French 75', 'Yellow Bird', 'Pina Colada', 'Aviation', 'Bellini',
       'Grasshopper', 'Tequila Sunrise', 'Daiquiri', 'Rusty Nail', 'B52',
       'Stinger', 'Golden Dream', 'God Mother', 'Spritz Veneziano',
       'Bramble', 'Alexander', 'Lemon Drop Martini', 'French Martini',
       'Black Russian', 'Bloody Mary', 'Mai-tai', 'Barracuda',
       'Sex on the Beach', 'Monkey Gland', 'Derby', 'Sidecar',
       'Irish Coffee', 'Sazerac', 'Americano', 'Singapore Sling',
       'French Connection', 'Moscow Mule', 'John Collins', 'Kir',
       'Mint Julep', "Tommy's Margarita", 'Paradise', 'Dirty Martini',
       'Champagne Cocktail', 'Mary Pickford', 'Hemingway Special',
       "Dark 'n' Stormy", 'Ramos Fizz', 'Russian Spring Punch',
       'God Father', 'Cosmopolitan', 'Dry Martini', 'Between the Sheets',
       'Casino', 'Caipirinha', 'Vampiro', 'Kamikaze', 'White Lady',
       'Harvey Wallbanger'], dtype=object)

In [3]:
df.loc[df['name'] == 'Vesper', 'ingredients'].squeeze()

[{'unit': 'cl', 'amount': 6, 'ingredient': 'Gin'},
 {'unit': 'cl', 'amount': 1.5, 'ingredient': 'Vodka'},
 {'unit': 'cl', 'amount': 0.75, 'ingredient': 'Lillet Blonde'}]

In [4]:
df.loc[0]['ingredients']

[{'unit': 'cl', 'amount': 6, 'ingredient': 'Gin'},
 {'unit': 'cl', 'amount': 1.5, 'ingredient': 'Vodka'},
 {'unit': 'cl', 'amount': 0.75, 'ingredient': 'Lillet Blonde'}]

In [7]:
df.index[df['name']=='Derby'].tolist()

[47]

In [9]:
df.iloc[0]['name']

'Vesper'